
body {
    padding: 0;
    margin: 0;
    
    font-family: "Courier New", monospace;
    color: white;

    background: #5a5c5e;
    background: linear-gradient(90deg, rgba(90, 92, 94, 1) 0%, rgba(105, 107, 111, 1) 29%, rgba(180, 182, 194, 1) 51%, rgba(75, 75, 79, 1) 74%, rgba(53, 53, 56, 1) 100%);

}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

#top {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 60px;
}
#top-title {
    background-color: black;
    text-align: center;
    border: ridge 10px grey;
    border-radius: 20px;
    margin: auto;
    width: 400px;
    height: 37px;
}
#top-title > h1 {
  margin: 0px;
  margin-top: 5px;
  font-size: 25px;
}

/*This is the left side of the game*/
#left {
    width: 20%;
    flex-shrink: 0;
}

/*This is the middle of the game*/
#middle {
    width: 50%;
}
#map {
    width: 100%;
    height: calc(100% - 40px);
    width: calc(100% - 20px);
    border: ridge 10px grey;
    border-radius: 50px;
}


/* Here starts right side about the game */

#right {
  width: 30%;
  flex-shrink: 0;
  text-align: center;
}
#img_place {
    width: auto;
    text-align: right;
    margin-right: 30px;
}

#plane-img {
    display: inline-block;
  border-radius: 20px;
  width: 20%;
    border: ridge 10px grey;

}

#stats {
    background-color: #5a5c5e;
    margin: 1rem auto;
    width: 80%;
    border-radius: 20px;
    padding: 12px 6px;
    border: ridge 10px grey;

}

.stats_heading {
    text-decoration: underline;
}

.stats_list {
    display: block;
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
}