

body {
    padding: 0;
    margin: 0;
    
    font-family: "Courier New", monospace;
    color: white;

    background: #141414;
    background: linear-gradient(90deg,rgba(20, 20, 20, 1) 0%, rgba(48, 48, 48, 1) 32%, rgba(144, 149, 163, 1) 51%, rgba(31, 31, 33, 1) 67%, rgba(18, 18, 18, 1) 100%);
}

button {
    border-radius: 40%;
    width: 80px;
    height: 80px;
    border: outset 13px grey;
}

.ridged {
    border: inset 10px grey;
    border-radius: 20px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

#top {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}
.top-item {
    background-color: #0e0e12;
    text-align: center;
    border: ridge 10px grey;
    border-radius: 20px;
    width: 400px;
    height: 37px;
    margin: 3px 5px;
}
.top-item > h1 {
  margin: 0px;
  margin-top: 5px;
  font-size: 25px;
}

/*This is the left side of the game*/
#left {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin: 0px 10px;
}
#compass {
    border-radius: 80px;
    background-color: #22211d;
    width: 160px;
    height: 160px;
    display: flex;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.compass-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
#NS {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#compass #north {
    background-color: red;
}
.compass-item:hover {
    cursor: pointer;
}
#destinations {
    text-align: center;
    background-color: #0e0e12;
    width: 95%;
    height: 500px;
}
#destinations ul {
    margin: 0px;
    padding: 5px;
}
#destination-list li {
    display: flex;
    color: green;
    padding: 2px 0;
    margin: 5px 0;
    justify-content: space-between;
}
#destination-list li:hover {
    cursor: pointer;
    background-color: white;
}
#destination-list div {
    display: flex;
    padding: 0 5px;
}
#airport-name {
    text-align: right;
}

/*This is the middle of the game*/
#middle {
    flex-grow: 1;
}
#map {
    width: 100%;
    height: calc(100% - 40px);
    width: calc(100% - 20px);
    border-radius: 50px;
}


/* Here starts right side about the game */

#right {
    width: 400px;
    flex-shrink: 0;
    text-align: center;
    margin: 0px 10px;
}
#img-container {
    background-color: #0e0e12;
    border-radius: 20px;
    width: 200px;

}

#plane-img {
    width: 100%;
}

#stats {
    background-color: #5a5c5e;
    padding: 12px 6px;
    margin: 10px 0px;
}

#stats > h2 {
    display: flex;
    text-align: center;
    text-decoration: underline;
}

#stats > ul {
    display: block;
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
}

.plane1{
    margin: 5px 0 5px 0;
    padding: 1rem 0 1rem 1rem;
    background-color: #5a5c5e;
    border-radius: 10px;
}

.plane2{
    margin: 5px 0 5px 0;
    padding: 1rem 0 1rem 1rem;
    background-color: #5a5c5e;
    border-radius: 10px;
}
.plane3{
    margin: 5px 0 5px 0;
    padding: 1rem 0 1rem 1rem;
    background-color: #5a5c5e;
    border-radius: 10px;
}
.plane4{
    margin: 5px 0 5px 0;
    padding: 1rem 0 1rem 1rem;
    background-color: #5a5c5e;
    border-radius: 10px;
}


#fuel {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: black;
}

#event-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.event-container-hidden {
    height: 0;
    width: 0;
    overflow: hidden;
}
#end-window{
    overflow: hidden;
    width: 100%;
    background-color: #5a5c5e;
}


#close-event {
    text-align: right;
}
#close-event:hover {
    cursor: pointer;
}
#event-window {
    background-color: #0e0e12;
    margin: auto;
    margin-top: 100px;
    max-width: 600px;
    min-height: 500px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

