
body {
    padding: 0;
    margin: 0;
    
    font-family: "Courier New", monospace;
    color: white;

    background: #141414;
    background: linear-gradient(90deg,rgba(20, 20, 20, 1) 0%, rgba(48, 48, 48, 1) 32%, rgba(144, 149, 163, 1) 51%, rgba(31, 31, 33, 1) 67%, rgba(18, 18, 18, 1) 100%);
}

button {
    border-radius: 40%;
    width: 80px;
    height: 80px;
    border: outset 13px grey;
}

.ridged {

    border: ridge 10px grey;
    border-radius: 20px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

#top {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}
.top-item {
    background-color: black;
    text-align: center;
    border: ridge 10px grey;
    border-radius: 20px;
    width: 400px;
    height: 37px;
    margin: 3px 5px;
}
.top-item > h1 {
  margin: 0px;
  margin-top: 5px;
  font-size: 25px;
}

/*This is the left side of the game*/
#left {
    width: 300px;
    flex-shrink: 0;
    margin: 0px 10px;
}
#destinations {
    text-align: center;
    background-color: black;
    height: 600px;
}


/*This is the middle of the game*/
#middle {
    flex-grow: 1;
}
#map {
    width: 100%;
    height: calc(100% - 40px);
    width: calc(100% - 20px);
    border-radius: 50px;
}


/* Here starts right side about the game */

#right {
    width: 400px;
    flex-shrink: 0;
    text-align: center;
    margin: 0px 10px;
}
#img-container {
    background-color: black;
    border-radius: 20px;
    width: 200px;

}

#plane-img {
    width: 100%;
}

#stats {
    background-color: #5a5c5e;
    padding: 12px 6px;
    margin: 10px 0px;
}

#stats > h2 {
    text-decoration: underline;
}

#stats > ul {
    display: block;
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
}

#fuel {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: black;
}
